body {
    font-family: "Great Vibes", cursive;
    font-size: 62.5%;
}

.envelope__scene {
    perspective: 1000px;
    max-width: 500px;
    height: 300px;
    margin: 150px auto 0;
}

.envelope {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.envelope > * {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.envelope__top {
    z-index: 10;
    background: rgba(254, 136, 164, 0.3);
}

.triangle {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.triangle__bottom {
    clip-path: polygon(45% 40%, 55% 40%, 100% 100%, 0% 100%);
    z-index: 5;
    bottom: 100%;
}

.triangle__top {
    clip-path: polygon(0% 0%, 50% 80%, 100% 0%);
    z-index: 10;
    transform-origin: 50% 0;
    transition: transform 1s;
}

.envelope.open .triangle__top {
    transform: rotateX(180deg);
}

.triangle::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgb(254, 136, 164),
        rgb(255, 197, 210)
    );
    top: 0;
}

.triangle__bottom::after,
.triangle__top::after {
    clip-path: polygon(45.5% 40.5%, 54.5% 40.5%, 99.5% 99.5%, 0.5% 99.5%);
}

.triangle__top::after {
    clip-path: polygon(1% 1%, 50% 79%, 99% 1%);
}

.triangle__left,
.triangle__right {
    bottom: 200%;
    z-index: 1;
}

.triangle__left {
    clip-path: polygon(0% 0%, 2.5% 0%, 50% 50%, 2.5% 100%, 0% 100%);
    left: 0;
}

.triangle__right {
    clip-path: polygon(100% 0%, 97.5% 0%, 50% 50%, 97.5% 100%, 100% 100%);
    right: 0;
    bottom: 300%;
}

.triangle__left::after,
.triangle__right::after {
    clip-path: polygon(0.5% 0.5%, 2% 0.5%, 49% 50%, 2% 99.5%, 0.5% 99.5%);
}

.triangle__right::after {
    clip-path: polygon(99.5% 0.5%, 98% 0.5%, 50.5% 50%, 98% 99.5%, 99.5% 99.5%);
}

.envelope__content {
    position: relative;
    box-sizing: border-box;
    width: 70%;
    height: 65%;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    bottom: 350%;
    left: 50%;
    transition: bottom 0.5s;
    transition-delay: 1.25s;
    transform: translate(-50%, -50%);
    background: url("celano.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.envelope.open .envelope__content {
    bottom: 390%;
}

.envelope__wishes {
    font-size: 2rem;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(-0.5rem, -50%);
}

@media screen and (max-width: 500px) {
    .envelope__scene {
        height: 250px;
    }

    .envelope__wishes {
        font-size: 1.8rem;
        right: 0.5rem;
        transform: translate(-0.25rem, -50%);
    }
}

@media screen and (max-width: 400px) {
    .envelope__scene {
        height: 200px;
    }

    .envelope__wishes {
        font-size: 1.4rem;
    }
}
